body {
	font-family: verdana, sans-serif;
	font-size: 10px;
	padding: 0;
	margin: 0;
	background-color: #cccccc;
}


a { 
	color: #0068D2; 
	cursor: pointer; 
	}
a:link, a:visited { 
	text-decoration: none; 
	color: #0068D2; 
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #0068D2; 
	}


.etabs { 
	margin: 0; 
	padding: 0; 
	}
.tab { 
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	background: #eee; 
	border: solid 1px #999; 
	border-bottom: none; 
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	}
.tab a { 
	font-size: 14px; 
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none; 
	}
.tab a:hover { 
	text-decoration: underline; 
	}
.tab.active { 
	background: #fff; 
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
	}
.tab a.active { 
	font-weight: bold; 
	}
	
.text input, .button input { 
padding: 2px; 
margin: 0; 
border: 1px solid #ccc; 
}
.tab-container .panel-container { 
	background: #fff; 
	border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; 
	}
.panel-container { 
	margin-bottom: 10px; 
	}
#cust-table, #cust-table th, #cust-table td { text-align: left; border: 1px dotted #000000; }
#search-table, #search-table th, #search-table td { text-align: left; border: 1px dotted #000000; }